@page
@model ForgotPasswordModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<AiWeb3.Components.Pages.HomeText> _localizer
@{
    ViewData["Title"] = "Forgot your password?";
}
<section class="hero-wrap py-5 min-vh-75 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="hero-panel rounded-4 py-4 p-lg-5 shadow-lg">
                    <h1>@_localizer["ForgotPassword"]</h1>
                    <h2>@_localizer["EnterEmail"]</h2>
                    <p>Na zadaný email ti přijde odkaz pro obnovení hesla.</p> <!-- Pridat localizer -->
                    <hr />
                  
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">@_localizer["ResetPsw"]</button>
                            </form>
                        
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    
}
